html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#articles h1 {
  font-size: 17px;
}
#articles h2 {
  font-size: 16px;
}
#articles h3 {
  font-size: 15px;
}
#articles h4 {
  font-size: 14px;
}

figure {
  margin: 0 0 1rem;
}
figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
  /* margin-left: -12px; */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
}
pre {
  white-space: pre-line;
  font-size: 14px;
}
